<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>ACID AT THE MALL | {{.Title}}</title>
    {{ partial "head.html" . }}
  </head>
  <body class="content">
    <canvas id="canvas"></canvas>
    <div class="container" id="container">
      <main class="content">
          <ul>
            <li class="index-item">
              <h1>
                {{.Title}}
              </h1>
            </li>
            <li class="index-item">
              {{.Content}}
            </li>
          </ul>
        </main>
      </div>
    {{ $background := resources.Get "js/background.js"}}
    {{ $scripts := slice $background | resources.Concat "scripts.js" | minify | fingerprint }}
    <script src="{{ $scripts.Permalink }}"></script>
  </body>
</html>
