@font-face {
  font-family: "Work Sans";
  font-weight: 500;
  src: url("/fonts/WorkSans-Medium.ttf") format("truetype");
}
body{
  padding: 0;
  margin: 0;
  font-size: 5vh;
  line-height: 1em;
  background: #0F0F0F;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  cursor: crosshair;
  width: 100%;
}
#canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  margin: 0;
  padding: 0;
  display: inline-block;
}
a{
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
h1,h2,h3,h4,h5,h6{
  font-size: 1em;
  color: #ffffff;
  display: inline-block;
  margin: 0;
  padding: 0;
}
p{
  line-height: 1.5em;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
}
::selection,::-moz-selection{
  background: #ffffff;
  color: #0F0F0F;
}
.container{
  width: 100%;
  height: calc(100vh - 6em);
  position: fixed;
  top: 3em;
  left: 0;
  z-index: 2;
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
nav,
footer{
  position: fixed;
  top: 0em;
  left: 0em;
  width: calc(100% - 2em);
  height: 1em;
  padding: 1em;
  border-bottom: 2px solid #ffffff;
  z-index: 3;
}
footer{
  top: auto;
  bottom: 0em;
  border-bottom: none;
  border-top: 2px solid #ffffff;
}
nav ul,
footer ul{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main{
  line-height: 1.4em;
  position: relative;
  z-index: 2;
}
.index-item{
  display: flex;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 1em;
  padding-top: 1em;
}
.index-item-title{
  padding: 0;
}
.index-item h2{
  margin: 0;
  padding: 0;
  display: inline;
  color: #ffffff;
}
.index-item-time{
  width: 37%;
  user-select: none;
}
.index-item-time{
  margin-left: 1em;
}
.index-item-text{
  width: calc(63% - 2em);
}
.links li,
.links h1{
  /* text-align: center; */
  padding: 0 1em;
  line-height: 1em;
  width: calc(100% - 2em);
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  display: block;
}
.links h1{
  padding: 1em;
}
.links a{
  color: #ffffff;
  line-height: 1em;
}
@media (max-width: 1024px),(orientation: portrait) {
  body{
    font-size: 3vh;
  }
  .links{
    font-size: 5vh;
  }
  .index-item-time.alt-on-mobile{
    display: none;
  }
  .index-item-text.alt-on-mobile{
    padding: 0 1em;
    width: calc(100% - 2em);
  }
  .container{
    top: 6vh;
    height: calc(100% - 12vh);
  }
  nav,footer{
    font-size: 2vh;
    line-height: 1em;
  }
}
