<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>ACID AT THE MALL | Bekannt aus der TV Werbung</title>
    {{ partial "head.html" . }}
  </head>
  <body class="list">
    {{ partial "header.html" . }}
    <div class="container" id="container">
      <main>
        <h1 style="display: none; opacity: 0; pointer-event: none;">Acid At The Mall</h1>
        <ul>
          <li id="top" class="index-item index-item-title"><div class="index-item-time"></div><div class="index-item-text">FUTURE</li>
          {{ range where .Pages "Type" "blog" }}{{ range (.Pages.ByParam "Date").Reverse }}{{ if (time .Params.Date).After now }}
          <li class="index-item">
            {{ partial "index/item.html" . }}
          </li>
          {{end}}{{end}}{{end}}
          <li class="index-item index-item-title"><div class="index-item-time"></div><div class="index-item-text">PAST</li>
          {{ range where .Pages "Type" "blog" }}{{ range (.Pages.ByParam "Date").Reverse }}{{ if (time .Params.Date).Before now }}
          <li class="index-item">
            {{ partial "index/item.html" . }}
          </li>
          {{end}}{{end}}{{end}}
          {{ range where .Pages "Type" "info" }}
          <li id="info" class="index-item index-item-title"><div class="index-item-time"></div><div class="index-item-text">INFO</li>
          <li class="index-item"><div class="index-item-time alt-on-mobile"></div><div class="index-item-text alt-on-mobile">{{.Content}}</li>
          {{end}}
          <!-- <li <i></i>d="toggleBackground" class="index-item index-item-title"><div class="index-item-time"></div><div class="index-item-text">VIDEO ONLY</li> -->
        </ul>
      </main>
    </div>
    {{ partial "footer.html" . }}
    {{ $background := resources.Get "js/background.js"}}
    {{ $scripts := slice $background | resources.Concat "scripts.js"  | minify | fingerprint }}
    <script src="{{ $scripts.Permalink }}"></script>
  </body>
</html>
