<!DOCTYPE html>
{{ $lastyear := dateFormat "2006" (now.AddDate 1 0 0) }}
<html lang="en" dir="ltr">
  <head>
    <title>ACID AT THE MALL | Bekannt aus dem Radio</title>
    {{ partial "head.html" . }}
  </head>
  <body class="list">
    <canvas id="canvas"></canvas>
    <div class="container" id="container">
      <main class="content">
          <ul>
            <li class="index-item">
              <time class="index-item-time">
                <img id="logo" src="/img/logo.png">
              </time>
              <div class="index-item-title">
                <h1>
                  Acid At The Mall
                </h1>
                <div class="index-item-text">
                  hi[at]acidatm.de
                </div>
              </div>
            </li>
            <li class="index-item">
              <time class="index-item-time">

              </time>
              <div class="index-item-title freeheight">
                <div class="index-item-text">
                  <a href="https://soundcloud.com/acidatm" title="Soundcloud" target="_blank">Soundcloud</a>
                </div>
                <br>
                <div class="index-item-text">
                  <a href="https://acidatm.bandcamp.com" title="Bandcamp" target="_blank">Bandcamp</a>
                </div>
                <br>
                <div class="index-item-text">
                  <a href="https://instagram.com/acidatm" title="Instagram" target="_blank">Instagram</a>
                </div>
                <br>
                <div class="index-item-text">
                  <a href="https://www.youtube.com/@acidatm" title="Youtube" target="_blank">Youtube</a>
                </div>
              </div>
            </li>
            <li class="index-item">
            <br>
          </li>
            {{ range where .Site.Pages.ByDate.Reverse "Type" "blog" }}{{ if (time .Date).After now }}
            <li class="index-item">
              {{ partial "index/item.html" . }}
            </li>
            {{end}}{{end}}
            {{ range where .Site.Pages.ByDate.Reverse "Type" "blog" }}{{ if (time .Date).Before now }}
            {{ $year := dateFormat "2006" .Date }}
            {{ if ne $lastyear $year}}
            {{ $lastyear = $year}}
            <li class="index-item index-item-year">
              <time class="index-item-time">{{ $year}}</time>
            </li>
            {{end}}
            <li class="index-item">
              {{ partial "index/item.html" . }}
            </li>
            {{end}}{{end}}
            <li class="index-item">
              <div class="index-item-text">
                <a href="/impressum" target="_blank">Legal Stuff</a>
              </div>
            </li>
          </ul>
        </main>
      </div>
    {{ $background := resources.Get "js/background.js"}}
    {{ $scripts := slice $background | resources.Concat "scripts.js"  | fingerprint }}
    <script src="{{ $scripts.Permalink }}"></script>
  </body>
</html>
